.header{
    margin: 15px;
    display: flex;
    background-color: aqua;
}
.info{
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      }
      
      <img src="logo.png" alt="">
}